.DS_Store
.DS_Store?
._*
Thumbs.db

build/

packages
web/packages
lib/packages

test/packages
test/test_client_js.dart.js
test/test_client_js.dart.js.deps
test/test_client_js.dart.js.map
test/test_client_js.dart.precompiled.js
web/packages
web/.DS_Store
